.App {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

.App-Header {
    height: 100vh;
    background-color: #282c34;
    color: #dce4f3;

    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.App-Main {
    height: 100vh;
    background: #dce4f3;
    color: #282c34;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.App-Label {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.App-LabelText {
    margin-right: 16px;
    font-size: 1.25em;
}

.App-Title {
    font-size: 3em;
    text-align: center;
}

.App-SectionTitle {
    font-size: 3em;
    text-align: center;
}

.App-Input {
    font-size: 1em;
    padding: 8px;
}
