.App {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

.App-Header {
    height: 100vh;
    background-color: #282c34;
    color: #dce4f3;

    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.App-Main {
    height: 100vh;
    background: #dce4f3;
    color: #282c34;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.App-Label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0;
}

.App-Label--Horizontal {
    flex-direction: row;
    align-items: center;
}

.App-LabelText {
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

.App-Label--Horizontal .App-LabelText {
    margin-bottom: 0;
    margin-left: 16px;
}

.App-Title {
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    min-height: 64px;
}

.App-SectionTitle {
    font-size: 2.5em;
    text-align: center;
}

.App-Input {
    font-size: 1em;
    padding: 0.5em;
    height: 1.5em;
    width: 100%;
}

.App-Config {
    width: 280px;
    max-width: 100%;
}

.App-ScrollBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 2px solid;
}

.App-ScrollBtn--Dark {
    border-color: #282c34;
    color: #282c34;
}

.App-ScrollBtn--Light {
    border-color: #dce4f3;
    color: #dce4f3;
}

.App-ScrollBtn:hover {}
